<!DOCTYPE html>
<html>

<head>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/test.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Orokonui Ecosanctuary</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'Orokonui/img/OrokonuiEcoBurst.ico' %}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/bootstrap/css/bootstrap.css' %}" />

    <!-- Bootstrap -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>


    <!-- Waves Effect Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/node-waves/waves.css' %}" />

    <!-- Animation Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/animate-css/animate.css' %}" />

    <!-- Morris Chart Css-->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/morrisjs/morris.css' %}" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/css/style.css' %}" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/css/themes/all-themes.css' %}" />

    <!-- Leaflet Map -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>


    <!-- JQuery -->

    <script src="{% static 'Orokonui/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'Orokonui/mqttws31.js' %}" type="text/javascript"></script>

    <!-- Decrypt -->
    <script type="text/javascript" src="{% static 'Orokonui/Decrypt.js' %}"></script>

    <!-- Custom -->


</head>

<body class="theme-green">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">OROKONUI ECOSANCTUARY</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="{% url 'home' %}">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'secretmap' %}">
                            <i class="material-icons">map</i>
                            <span>Map</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'data' %}">
                            <i class="material-icons">trending_down</i>
                            <span>Collected Data</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'home' %}">
                            <i class="material-icons">assignment</i>
                            <span>Contact Us</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">

                    {% if user.is_authenticated %} Current Login: <span style="color:green">{{ user.username }}</span>
                    <p>
                        <a href="{% url 'logout' %}">LOGOUT</a>
                    </p>
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}">login</a>
                    {% endif %}
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="settings">
                    <div class="demo-settings">
                        <div class="panel-switch-btn">
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <h2>MAP DASHBOARD</h2>
                                </div>
                                <div class="col-xs-12 col-sm-6 align-right">
                                    <div class="switch panel-switch-btn">
                                        <span class="m-r-10 font-12">MAP OVERLAY</span>
                                        <label>OFF
                                            <input type="checkbox" id="realtime" checked>
                                            <span class="lever switch-col-cyan"></span>ON</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body">

                            

                            <!-- MAP -->

                            <div id="mapid" style="width: 99%; height: 735px;"></div>

                            <script src="{% static 'Orokonui/map.js' %}"></script>


                        </div>
                    </div>

                    <div class="row clearfix">
                        <!-- Task Info -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="header">
                                    <h2>GATE INFO</h2>
                                </div>
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table table-hover dashboard-task-infos">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Gate</th>
                                                    <th>Status</th>
                                                    <th>Location</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Gate One</td>
                                                    <td id="gateOne">
                                                        <!-- <span class="label bg-green">Closed</span> -->
                                                    </td>
                                                    <td>North</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Gate Two</td>
                                                    <td>
                                                        <span class="label bg-blue">To Do</span>
                                                    </td>
                                                    <td>South</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Gate Three</td>
                                                    <td>
                                                        <span class="label bg-light-blue">On Hold</span>
                                                    </td>
                                                    <td>East</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Gate Four</td>
                                                    <td>
                                                        <span class="label bg-orange">Wait Approvel</span>
                                                    </td>
                                                    <td>West</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Gate Five</td>
                                                    <td>
                                                        <span class="label bg-red">Open</span>
                                                    </td>
                                                    <td>North-East</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #END# Task Info -->
                    </div>
                </div>


            </div>
        </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="{% static 'Orokonui/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'Orokonui/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->
    <script src="{% static 'Orokonui/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'Orokonui/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'Orokonui/plugins/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'Orokonui/plugins/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'Orokonui/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'Orokonui/plugins/morrisjs/morris.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'Orokonui/plugins/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.time.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'Orokonui/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'Orokonui/js/admin.js' %}"></script>
    <script src="{% static 'Orokonui/js/pages/index.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'Orokonui/js/demo.js' %}"></script>
</body>

</html>