﻿{% extends '../base.html' %} {% block content %}

{% block page-loader %}
{% include "../includes/page-loader.html" %}
{% endblock %}

<div class="overlay"></div>

{% block navbar %}
{% include "../includes/navbar.html" %}
{% endblock %}

{% block sidebar %}
{% include "../includes/sidebar.html" %}
{% endblock %}

<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>CHART</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>TABLE</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="body">
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                  <thead>
                    <tr>
                      <th>Gate</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ gates.0.0 }}</td>
                      <td>{{ gates.0.1 }}</td>
                      <td>{{ gates.0.2 }}</td>
                      <td>{{ gates.0.3 }}</td>
                      
                    </tr>
                    <tr>
                      <td>{{ gates.1.0 }}</td>
                      <td>{{ gates.1.1 }}</td>
                      <td>{{ gates.1.2 }}</td>
                      <td>{{ gates.1.3 }}</td>
                    </tr>
                    <tr>
                      <td>{{ gates.2.0 }}</td>
                      <td>{{ gates.2.1 }}</td>
                      <td>{{ gates.2.2 }}</td>
                      <td>{{ gates.2.3 }}</td>
                    </tr>
                    <tr>
                      <td>{{ gates.3.0 }}</td>
                      <td>{{ gates.3.1 }}</td>
                      <td>{{ gates.3.2 }}</td>
                      <td>{{ gates.3.3 }}</td>
                    </tr>
                    <tr>
                      <td>{{ gates.4.0 }}</td>
                      <td>{{ gates.4.1 }}</td>
                      <td>{{ gates.4.2 }}</td>
                      <td>{{ gates.4.3 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}