﻿{% extends '../base.html' %} {% block content %}

{% block page-loader %}
{% include "../includes/page-loader.html" %}
{% endblock %}

<div class="overlay"></div>

{% block navbar %}
{% include "../includes/navbar.html" %}
{% endblock %}

{% block sidebar %}
{% include "../includes/sidebar.html" %}
{% endblock %}

<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-6">
                <h2>MAP DASHBOARD</h2>
              </div>
              <div class="col-xs-12 col-sm-6 align-right">
                <div class="switch panel-switch-btn">
                  <span class="m-r-10 font-12">MAP OVERLAY</span>
                  <label>OFF
                    <input type="checkbox" id="realtime" checked>
                    <span class="lever switch-col-cyan"></span>ON</label>
                </div>
              </div>
            </div>
          </div>
          <div class="body">
            <div id="mapid" style="width: 99%; height: 735px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}