﻿<!DOCTYPE html>
<html>

<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Typography | Bootstrap Based Admin Template - Material Design</title>

    <link rel="shortcut icon" href="{% static 'Orokonui/img/OrokonuiEcoBurst.ico' %}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/bootstrap/css/bootstrap.css' %}" />

    <!-- Bootstrap -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>


    <!-- Waves Effect Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/node-waves/waves.css' %}" />

    <!-- Animation Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/animate-css/animate.css' %}" />

    <!-- Morris Chart Css-->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/plugins/morrisjs/morris.css' %}" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/css/style.css' %}" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/css/themes/all-themes.css' %}" />

    <!-- Leaflet Map -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>


    <!-- JQuery -->

    <script src="{% static 'Orokonui/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'Orokonui/mqttws31.js' %}" type="text/javascript"></script>

    <!-- Decrypt -->
    <script type="text/javascript" src="{% static 'Orokonui/Decrypt.js' %}"></script>


</head>

<body class="theme-green">

        <!-- Top Bar -->
        <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                        <a href="javascript:void(0);" class="bars"></a>
                        <a class="navbar-brand" href="{% url 'home' %}"> &larr; BACK TO OROKONUI ECOSANCTUARY</a>
                    </div>
                </div>
            </nav>
            <!-- #Top Bar -->
    

    <div id="mapid" style="width: 100%; height: 973px;"></div>

    <script src="{% static 'Orokonui/map.js' %}"></script>

</body>

<!-- Jquery Core Js -->
<script src="{% static 'Orokonui/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'Orokonui/plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Select Plugin Js -->
<script src="{% static 'Orokonui/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{% static 'Orokonui/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'Orokonui/plugins/node-waves/waves.js' %}"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="{% static 'Orokonui/plugins/jquery-countto/jquery.countTo.js' %}"></script>

<!-- Morris Plugin Js -->
<script src="{% static 'Orokonui/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'Orokonui/plugins/morrisjs/morris.js' %}"></script>

<!-- ChartJs -->
<script src="{% static 'Orokonui/plugins/chartjs/Chart.bundle.js' %}"></script>

<!-- Flot Charts Plugin Js -->
<script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.js' %}"></script>
<script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
<script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
<script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
<script src="{% static 'Orokonui/plugins/flot-charts/jquery.flot.time.js' %}"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="{% static 'Orokonui/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'Orokonui/js/admin.js' %}"></script>
<script src="{% static 'Orokonui/js/pages/index.js' %}"></script>

<!-- Demo Js -->
<script src="{% static 'Orokonui/js/demo.js' %}"></script>
</body>

</html>