<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orokonui Ecosanctuary</title>

  <!-- Favicon-->
  <link rel="shortcut icon" href="{% static 'Orokonui/img/OrokonuiEcoBurst.ico' %}" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'Orokonui/css/style.css' %}" />

  <!-- All Themes CSS -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/all-themes.min.css' %}" />

  <!-- Leaflet Map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
</head>

<body class="theme-green">

  {% block content %} {% endblock %}

  <!-- jQuery -->
  <script src="{% static '/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <!-- Custom Chart -->
  <script src="{% static '/js/bar-chart.js' %}" type="text/javascript"></script>

  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
     integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
     crossorigin=""></script>

  <!-- Map -->
  <script src="{% static '/js/map.js' %}" type="text/javascript"></script>

  <!-- Moment -->
  <script src="{% static '/js/moment.min.js' %}" type="text/javascript"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="{% static 'Orokonui/plugins/node-waves/waves.js' %}" type="text/javascript"></script>

  <!-- Custom Js -->
  <script src="{% static 'Orokonui/js/admin.js' %}" type="text/javascript"></script>

  

</body>

</html>