<aside id="leftsidebar" class="sidebar">
  <div class="menu">
    <ul class="list">
      <li class="header">Menu</li>
      <li class="active">
        <a href="{% url 'home' %}">
          <i class="material-icons">home</i>
          <span>Home</span>
        </a>
      </li>
      <!-- <li>
        <a href="{% url 'data' %}">
          <i class="material-icons">trending_down</i>
          <span>Collected Data</span>
        </a>
      </li> -->
      <!--<li>
        <a href="{% url 'home' %}">
          <i class="material-icons">assignment</i>
          <span>Contact Us</span>
        </a>
      </li>-->
    </ul>
  </div>
  <div class="legal">
    {% if user.is_authenticated %}
    Current Login: <span style="color:green">{{ user.username }}</span>
    <p>
      <a href="{% url 'logout' %}">LOGOUT</a>
    </p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
  </div>
</aside>
